* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: linear-gradient(to right bottom, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
#popup {
  min-height: 450px;
  width: 300px;
}
#popup header {
  width: inherit;
  height: 40px;
  background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
#popup header #logo {
  height: inherit;
}
#popup header #weather {
  float: right;
  height: 100%;
  line-height: 40px;
  margin-right: 10px;
}
#popup header #weather #weatherSite {
  font-size: 13px;
  margin-right: 5px;
}
#popup header #weather #svg_w {
  height: 15px;
  vertical-align: text-bottom;
}
#popup header #weather #weatherText {
  font-size: 13px;
}
#popup header #weather #weatherTemp {
  font-size: 13px;
}
#popup #back {
  display: none;
  position: absolute;
  top: 54px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  cursor: pointer;
}
#popup #article #buttons {
  position: relative;
  margin-top: 12px;
}
#popup #article #buttons #btnScreenshot,
#popup #article #buttons #transform {
  float: left;
  top: 1px;
  right: 5px;
  width: 90px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  background-color: #71b0f3;
  border: none;
  border-radius: 4px;
}
#popup #article #buttons #btnScreenshot:hover {
  background-color: #6FC6FF;
}
#popup #article #buttons #btnScreenshot:active {
  transform: translate(0px, 1px);
  box-shadow: 0px 1px 0px 0px;
}
#popup #article #buttons #transform {
  margin-left: 10px;
  background-color: #71b0f3;
}
#popup #article #buttons #transform:hover {
  background-color: #6FC6FF;
}
#popup #article #buttons #transform:active {
  transform: translate(0px, 1px);
  box-shadow: 0px 1px 0px 0px;
}
#popup #article #buttons #clock {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 42px;
  height: 42px;
  background-color: #F7BAEF;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 12px;
}
#popup #article #buttons #clock:active {
  transform: translate(0px, 1px);
  box-shadow: 0px 1px 0px 0px;
}
#popup #article .setting {
  float: left;
  width: 100%;
  margin-top: 12px;
}
#popup #article .setting ul li {
  margin: 7px 5px;
  height: 45px;
  border-radius: 25px;
  background: #ffffffc9;
  padding: 0 1px 0 12px;
}
#popup #article .setting ul li span {
  font-size: 16px;
  line-height: 45px;
  margin-left: 5px;
}
#popup #article .setting ul li .setting-item .button {
  position: relative;
  float: right;
  top: 6px;
  right: 6px;
  width: 66px;
  height: 32px;
  border-radius: 100px;
}
#popup #article .setting ul li .setting-item .button .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
#popup #article .setting ul li .setting-item .button .knobs,
#popup #article .setting ul li .setting-item .button .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#popup #article .setting ul li .setting-item .button .knobs {
  z-index: 2;
}
#popup #article .setting ul li .setting-item .button .layer {
  border-radius: 100px;
  width: 100%;
  background-color: #ebf7fc;
  z-index: 1;
}
#popup #article .setting ul li .setting-item .button .knobs::before {
  content: "YES";
  position: absolute;
  top: 2px;
  left: 34px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
}
#popup #article .setting ul li .setting-item .button .checkbox:checked + .knobs:before {
  content: "NO";
  left: 3px;
  background-color: #f44336;
}
#popup #article .setting ul li .setting-item .button .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
#popup #article .setting ul li .setting-item .button .knobs,
#popup #article .setting ul li .setting-item .button .knobs:before,
#popup #article .setting ul li .setting-item .button .layer {
  transition: 0.3s ease all;
}
